{{outlet}}

<h1 class="ribbon">
  <strong class="ribbon-content">ADD SOME NOTES !!</strong>
</h1>

<div class="title">
  {{textarea placeholder="Add a Title!" value=titleCopy }}
</div>

<div class="note">
  {{textarea placeholder="Add a note!" value=noteCopy rows="9" cols="40" }}
</div>

<div class= "message">
  {{message-queue}}
</div>

<div class="center">
  <h1>{{titleCopy}}</h1>
  <p>{{noteCopy}}</p>
</div>

<section><button {{action 'newNote'}}>Save Note</button></section>

<br><br>
<h1 class="ribbon">
  <strong class="ribbon-content"> NOTES YOU ADDED !!</strong>
</h1>{{#each note in model}}
<br><br>
<div class="module">
  <h2>{{note.title}}</h2>
  <p>{{note.body}}</p>
  <button {{action 'deleteNote' note.id}}>Delete</button>
  {{/each}}
</div>
